.footer-container {
  background-color: #222;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  margin-top: 60px;
}

.footer-text {
  font-size: 0.95rem;
  margin-bottom: 6px;
}

.footer-subtext {
  font-size: 0.8rem;
  color: #aaa;
}
